#projects {
  margin-top: 12rem;
}

@media (max-width: 600px) {
  .react_projects_container {
    flex-direction: column;
    padding-top: 0;
  }

  .android_projects_container {
    flex-direction: column;
    padding-top: 0;
  }
}
