.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0px;
  gap: 1rem;
}

.project-card img {
  border-radius: 1rem;
  width: 20vh;
  height: 45vh;
  transition: var(--transition);
}

.project-card img:hover {
  width: 33vh;
  height: 72vh;
  transition: var(--transition);
}

.portfolio-container {
  display: flex;
  justify-content: space-around;
}

.react_projects_container {
  flex: 0.6 0 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  padding-top: 2rem;
}

.android_projects_container {
  display: none;
}
.content-buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  letter-spacing: 10px;
}
#projects {
  margin-top: 12rem;
}
button {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px white solid;
  width: 10rem;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.button-active {
  background-color: var(--color-primary);
  color: white;
  border: 0px;
}
