.project-container {
  margin: 0;
  padding: 18rem 3rem 15rem 3rem;
  display: flex;
  align-items: center;

  box-shadow: 2px 4px 5px 0px rgba(255, 255, 255, 0.1);
  height: 26rem;
  gap: 5rem;
}
.project-container:last-of-type {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin-bottom: 10rem;
}

.project-details {
  flex: 1.2 1 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  align-items: flex-start;
}

.project-details h4 {
  padding-top: 0;
  font-size: 1.5rem;
}

.project-details p {
  font-size: 14px;
  text-align: left;
}

.project-details a {
  color: var(--color-white);
  align-self: flex-start;
  font-size: 18px;
  align-items: center;
  display: flex;
  gap: 0.65rem;
}

.project-details a:hover {
  cursor: pointer;
  color: var(--color-grey-darker);
  transform: translateY(-3px);
}
.icon-text {
  font-size: inherit;
  align-self: flex-start;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  margin-bottom: 0.8rem;
}

.technology {
  font-size: 12px;
  background-color: var(--color-fill-transparent);
  border-radius: 8px;
  padding: 0.2rem 0.6rem;

  border: 1px var(--color-grey-darker) solid;
}

@media screen and (max-width: 600px) {
  .project-container {
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 2px 4px 5px 0px rgba(255, 255, 255, 0.1);
    height: auto;
    gap: 1rem;
    order: 0;
  }
}
