.about_card {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  flex: 1 1 0px;
  height: 20vh;
  width: 15vh;

  background: rgb(42,104,170);
  background: linear-gradient(0deg, rgba(42,104,170,1) 0%, rgba(19,19,106,1) 100%);
  border: rgba(255, 255, 255, 0.404) 0.1px solid;
  border-radius: 2rem;
  overflow: hidden;
}

.about_container {
  display: flex;

  gap: 3rem;
}

.about_card:hover {
  background-color: rgba(42, 104, 170, 0.2);
  border: white 0.1px solid;
  transition: var(--transition);
}

.info {
  flex: 0 0 0.2;
}

.info p {
  font-size: 12px;
}

.cards_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin: 0 1rem 0 1rem;

  background: rgba(141, 120, 153, 0.384);
  border-radius: 1.3rem;
}

h4 {
  margin: 2rem;
}

.info_descr {
  margin-top: 1rem;
}

.me_img {
  height: 35vh;
  width: 35vh;
  overflow: hidden;
  border-radius: 2rem;
  transform: rotate(5deg);
  transition: var(--transition);
}

.me_img:hover {
  transform: rotate(0deg);
}

.me_con {
  flex: 0 0 0.8;
}
