.about_card {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  font-size: 1.1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1rem 1rem 1rem;
  height: 20vh;
  width: 25vw;
  background: rgba(42, 104, 170, 0.15);
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  overflow: hidden;
  transition: var(--transition);
}

.about_card:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.897);
  color: rgba(14, 25, 37, 0.872);
  border: white 0.1px solid;
  transition: var(--transition-slow);
}
section {
  margin-top: -4rem;
  min-height: 40vh;
}

.slide-in {
  transition: 0.2s ease-in;
  opacity: 1;
}

.cards_container {
  flex-basis: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
  margin: 3rem 1rem 0 1rem;
  border-radius: 1.3rem;
}

#about {
  height: 100vh;
}

@media (max-width: 600px) {
  .about_card {
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1rem 1rem 1rem;
    height: 22vh;
    width: 70vw;
  }

  .about_container {
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 1rem;
  }

  .about_card:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.897);
    color: rgba(14, 25, 37, 0.872);
    border: white 0.1px solid;
    transition: var(--transition-slow);
  }
  section {
    margin-top: 0;
    height: max-content;
  }

  .cards_container {
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.3rem;
  }
}
@media (max-width: 1250px) {
  #about {
    display: none;
  }
}
