.find-me {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-me {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hidden-card {
  height: 0;
  width: 0;
  transition: var(--transition);
}

.contact-card {
  height: 18vh;
  width: 18vh;
  background: var(--color-gradient);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

.expandable-contact-card {
  height: 18vh;
  width: 18vh;
  background: var(--color-gradient);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);

  
  color: white;
}

.contact-container a,
div {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 8rem;
  justify-content: center;

  margin-top: -2rem;
}

.desc-container {
  display: none;
  transition: var(--transition);
}

.contact-card:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;

  background: var(--color-gradient-t);

  border: px var(--color-primary) solid;
}
/* 
.expandable-contact-card:hover {
  cursor: pointer;
  animation-name: rotating;
  -moz-animation-name: rotating;
  background: var(--color-bg-c-t);
  border: px var(--color-primary) solid;
} */

.expanded-card {
  margin-top: -24vh;
  height: 65vh;
  width: 60vh;
  background: var(--color-gradient-c);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px var(--color-white) solid;
  transition: var(--transition);
  overflow-y: scroll;
}

.expanded-card .icon {
  display: none;
}
.expandable-contact-card .form {
  display: none;
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  20%,
  80% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  40%,
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  75% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes rotating {
  0%,
  50%,
  100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  75% {
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
