.links-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-card {
  height: 20vh;
  width: 20vh;
  background: var(--color-bg-c);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px var(--color-white) solid;
  transition: var(--transition);
}

.contact-container a {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-me {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desc-container {
  display: none;
  transition: var(--transition);
}

.contact-card:hover {
  height: 20vh;
  width: 20vh;
  background: var(--color-light);
  border-radius: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: px var(--color-primary) solid;
  transition: var(--transition-fast);
}
