.expanded-content{
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
    overflow-x:scroll;
    gap: 1rem;
}

h4{
    font-size: 1rem;
    margin-bottom: .3rem;
}

.form-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
  
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: flex-end;
}

.buttons button{
    font-weight: 600;
    color: rgb(0, 0, 0);
    width: 6rem;
    border-radius: .5rem;
    padding:  .6rem;
    background-color: rgb(255, 255, 255);
}

.buttons button:hover{
    cursor: pointer;
    background: rgb(177, 177, 177);
    color: rgb(22, 22, 22);

    transition: var();
}
.buttons button:active{background-color:rgb(68, 68, 68);}


.closing-btn{
   background-color: rgb(88, 70, 70); 
}

.submit-btn{
    background-color: var(--color-primary-c); 
}

.text-fields{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

