@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-c: #2c2c6c;
  --color-primary: #2a68aa;
  --color-primary-c: #13136a;
  --color-white: #fff;
  --color-light: rgba(240, 240, 240, 0.8);

  --container-width-large: 75%;
  --container-width-mid: 86%;
  --container-width-small: 90%;

  --transition: all 400ms ease;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-width-large);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

section {
  height: 100vh;
  margin-top: 8rem;
}

section > h2,
section > h5 {
  color: var(--color-light);
}

section > h2 {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-main {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-small);
  }

  section > h2 {
    margin-top: 2rem;
  }
}
