@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--color-grey-light);
  line-height: 1.6;
  background-color: #060125;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-c: #2c2c6c;
  --color-bg-c-t: #2c2c6c8f;

  --color-primary-white:#e7f5ff;
  --color-primary-lightest:#d0ebff;
  --color-primary-lighter:#a5d8ff;
  --color-primary-light:#4dabf7;
  --color-primary: #339af0;
  --color-primary-dark: #228be6;
  --color-primary-darker: #1c7ed6;
  --color-primary-darkest: #1864ab;


  --color-grey-white:#f8f9fa;
  --color-grey-lightest:#f8f9fa;
  --color-grey-lighter:#f1f3f5;
  --color-grey-light:#ced4da;
  --color-grey:#adb5bd;
  --color-grey-dark:#868e96;
  --color-grey-darker:#343a40;
  --color-grey-black:#212529;


  
  --color-gradient: linear-gradient(90deg, rgba(42,104,170,1) 0%, rgba(39,39,158,0.9332107843137255) 45%, rgba(19,19,106,0.9304096638655462) 99%);
  --color-gradient-l: linear-gradient(90deg, rgb(57, 127, 202) 0%, rgba(39,39,158,0.9332107843137255) 45%, rgba(19,19,106,0.9304096638655462) 99%);
  --color-gradient-t: linear-gradient(90deg, rgba(42,104,170,.7) 0%, rgba(39,39,158,0.7) 45%, rgba(19,19,106,0.7) 99%);
  --color-gradient-c:linear-gradient(90deg, rgba(19,19,106,1) 0%, rgba(39,39,158,0.9332107843137255) 45%, rgba(33,33,142,1) 62%, rgba(42,104,170,1) 99%);
 
  --container-width-large: 75%;
  --container-width-mid: 86%;
  --container-width-small: 90%;

  --transition-slow: all 900ms ease;
  --transition: all 400ms ease;
  --transition-fast: all 300ms ease;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-width-large);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}
h5 {
  font-size: 0.9rem;
}

h4 {
  padding-top: 1.5rem;
  font-size: 1.4rem;
}

section {
  height: 100vh;
}

section > h2,
section > h5 {
  color: var(--color-light);
}

section > h2 {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-dark);
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border: 1px solid var(--color-primary-dark);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-grey-light);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-main {
  background: var(--color-primary-dark);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
    width: 100vh;
  }

  .container {
    width: var(--container-width-small);
  }
  section{
    width: 100vw;
    height: 60vh;
  }
  section > h2 {
    margin-top: 2rem;
  }

  
h1 {
  font-size: 1.4rem;
}
h5 {
  font-size: 0.8rem;
}

h4 {
  padding-top: 1.5rem;
  font-size: 1.4rem;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary-dark);
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border: 1px solid var(--color-primary-dark);
  transition: var(--transition);
}

.btn-main {
  background: var(--color-primary-dark);
  color: var(--color-bg);
}

}
