.fixed-nav {
  width: 100%;
  padding: 1rem 1rem 0.2rem 1rem;
  position: fixed;
  top: -0.5rem;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background: linear-gradient(
    90deg,
    rgba(186, 186, 186, 0.1) 0%,
    rgba(231, 229, 229, 0.9556197478991597) 100%
  );
 

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.p {
  margin-top: -5px;
}

.fixed-nav a {
  font-size: 1.1rem;
  background-color: transparent;
  color:  var(--color-grey-black);
  
  border: solid var(--color-grey-dark);
  border-width: 0 1px 0 0;
  display: flex;
  padding-right: 1rem;

  flex-direction: column;
  align-items: center;
}

.fixed-nav .last-child{
  border: 0px;
}


.fixed-nav a:hover {
  color: var(--color-grey-dark);
}
.fixed-nav a.active {
  color: var(--color-grey-black);
}

.floating-nav {
  background: rgba(181, 181, 181, 0.516);
  width: 18%;
  padding: 0.5rem 1.5rem;
  position: fixed;
  top: 0;
  left: 92%;
  transform: translateX(-50%);
  z-index: 2;

  border-radius: 0 0 0 2rem;

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.floating-nav a {
  font-size: 1.2rem;
  padding-top: .3rem;
  background-color: transparent;
  color: var(--color-grey-black);
}

.floating-nav a.active {
  color: var(--color-white);
}

.floating-nav a:hover {
  color: var(--color-white);
}

.floating-nav p {
  display: none;
}
.normal-nav-container{
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  width:10rem;
}

.home-nav{
  background: rgba(181, 181, 181, 0.516);
  width: 4rem;
  height: 4rem;
  padding: 0.5rem 1.5rem;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@keyframes slidein-low {
  from {
    top: 0;
  }

  to {
    top: 90%;
  }
}
