nav {
  background: rgba(101, 101, 101, 0.516);
  width: max-content;
  padding: 0.5rem 1.5rem;

  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: flex;
  gap: 1.5rem;

  border-radius: 2rem;
}

nav a {
  font-size: 1.1rem;
  padding: 0.2rem;
  background-color: transparent;
  border-radius: 60%;
}

nav a.active {
  color: var(--color-white);
}
