input{
    height: 100%;
    padding: .2rem;
    background-color: rgb(199, 196, 196);
    border-radius: .5rem;
}

.error{
    position: absolute;
    margin-top: 2rem;
    color: #cc0033;
    font-size: .6rem;
    padding: -2rem;
}

label{
    text-align: center;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.text-field-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: space-between;
   
}

.message{
    border-radius: .5rem;
    height: 6rem;
    align-self: flex-end;
    vertical-align: top;
}